*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html{
	height: 100%;
}

body{
background: rgb(115,211,236);
background: linear-gradient(137deg, rgba(115,211,236,0.65) 1%, rgba(238,92,203,0.12)); 
}


main{
	text-align: center;
}

#title{
	margin-top: 1rem;
}

/*INPUT*/

input{
	height: 2rem;
	text-align: center;
}

#add-todos{
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
  max-width: 900px;
}

#addButton {
	height: 2rem;
	border: 1px solid black;
	width: 6rem;
	margin-left: 5px;
}


/*LIST*/

ul{
	width: 100%;
}

.todoDiv {
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	background: pink;
	margin: 0.5rem;
	border: 1px solid black;
	box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
	transition: opacity 0.2s;
}

#todos{
	margin: auto;
	max-width: 900px;
}

li{
	list-style: none;
}

.marked {
	opacity: 0.5;
}

/*BUTTONS*/

button{
	height: 2rem;
	border: 1px solid red;
	width: 6rem;
}

