*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body{
	height: 100%;
	background: #fff;
}


main{
	text-align: center;
}

 /* ADD ITEMS TO LIST */

#add-todos{
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
  max-width: 900px;
}

#addButton {
	height: 2rem;
	border: 1px solid black;
	margin-left: 1rem;
	width: 6rem;
}

input{
	height: 2rem;
	text-align: center;
}